## Deliverable 3. Create a Travel Itinerary Map.

In [50]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [13]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Yenagoa,NG,76.55,overcast clouds,4.9247,6.2642,Aridolf Resort Wellness and Spa
1,6,Axim,GH,79.68,scattered clouds,4.8699,-2.2405,AXIM BEACH RESORT AND SPA
2,11,Avarua,CK,77.00,overcast clouds,-21.2078,-159.7750,Paradise Inn
3,13,Port Alfred,ZA,70.38,overcast clouds,-33.5906,26.8910,The Halyards Hotel
4,18,Vaini,TO,73.40,few clouds,-21.2000,-175.2000,Keleti Beach Resort

In [16]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt> City Name </dt> <dd>{City}</dd>
<dt> County Code </dt> <dd> {Country} </dd>
<dt> Weather description </dt> <dd> {Current Description} </dd>
<dt> Maximum tempterature </dt> <dd> {Max Temp}Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [17]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
country_details_df = vacation_df.loc[(vacation_df["Country"]== "BR")]
country_details_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,59,Pilar,BR,71.60,mist,-9.5972,-35.9567,Pousada e churrascaria Manguaba
25,88,Cabedelo,BR,73.40,light rain,-6.9811,-34.8339,Hotel Pigalle
32,110,Ilhabela,BR,71.01,clear sky,-23.7781,-45.3581,Ilha Flat Hotel
48,143,Santa Isabel Do Rio Negro,BR,72.00,broken clouds,-0.4139,-65.0192,Hotel GSA
52,156,Rio Brilhante,BR,72.61,scattered clouds,-21.8019,-54.5464,Hotel Cattani
56,173,Arraial Do Cabo,BR,73.56,clear sky,-22.9661,-42.0278,Pousada Porto Praia
72,211,Jutai,BR,72.18,overcast clouds,-5.1833,-68.9000,NaN
76,225,Pitimbu,BR,73.40,broken clouds,-7.4706,-34.8086,Reserva do AbiaÃ­
90,264,Utinga,BR,75.20,light rain,-5.8172,-35.3954,EspaÃ§o de Lazer Ãrica Fernandes
101,291,Nova Olinda Do Norte,BR,73.17,heavy intensity rain,-3.8881,-59.0942,Casa Juazeiro
103,297,Caravelas,BR,72.90,scattered clouds,-17.7125,-39.2481,Pousada dos Navegantes

In [64]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

#vacation_start = vacation_df.loc[(vacation_df["Country"]== "Br")&(vacation_df["City"]=="Ilhabela")]
#vacation_end = vacation_df.loc[(vacation_df["Country"]== "Br")&(vacation_df["City"]=="Ilhabela")]
#vacation_stop1 = vacation_df.loc[(vacation_df["Country"]== "Br")&(vacation_df["City"]=="Pilar")]
#vacation_stop2 = vacation_df.loc[(vacation_df["Country"]== "Br")&(vacation_df["City"]=="Rio Brilhante")]
#vacation_stop3 = vacation_df.loc[(vacation_df["Country"]== "Br")&(vacation_df["City"]=="Arraial Do Cabo")]


# able to get lat and long via the method below
vacation_start = (country_details_df.loc[13]["Lat"],country_details_df.loc[13]["Lng"])
vacation_end = (country_details_df.loc[13]["Lat"],country_details_df.loc[13]["Lng"])
stop1 = (country_details_df.loc[25]["Lat"],country_details_df.loc[25]["Lng"])
stop2 = (country_details_df.loc[32]["Lat"],country_details_df.loc[32]["Lng"]) 
stop3 = (country_details_df.loc[48]["Lat"],country_details_df.loc[48]["Lng"])

In [65]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = vacation_start[['Lat','Lng']].to_numpy()
#end = vacation_end[['Lat','Lng']].to_numpy()
#stop1 = vacation_stop1[['Lat','Lng']].to_numpy()
#stop2 = vacation_stop2[['Lat','Lng']].to_numpy()
#stop3 = vacation_stop3[['Lat','Lng']].to_numpy()
#------------------------------------------------------------
#start1 = np.radians(start_df["Lat"] & start_df["Lng"])
#-------------------------------------------------------------
#end = vacation_end.to_numpy()
#stop1 = vacation_stop1.to_numpy()
#stop2 = vacation_stop2.to_numpy()
#stop3 = vacation_stop3.to_numpy()

In [66]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

round_trip = gmaps.directions_layer(vacation_start, vacation_end, waypoints=[stop1, stop2, stop3],travel_mode='DRIVING')

In [69]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, stop1, stop2, stop3],ignore_index=True)
itinerary_df

TypeError: cannot concatenate object of type '<class 'tuple'>'; only Series and DataFrame objs are valid

In [70]:
fig = gmaps.figure()

fig.add_layer(round_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt> City Name </dt> <dd>{City}</dd>
<dt> County Code </dt> <dd> {Country} </dd>
<dt> Weather description </dt> <dd> {Current Description} </dd>
<dt> Maximum tempterature </dt> <dd> {Max Temp}Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

NameError: name 'itinerary_df' is not defined

In [78]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))